p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

img {
    width: 600px;
    height: 600px;
    cursor: pointer;

}
